<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.popularmovies">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:name="com.example.android.popularmovies.MovieApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="true">
        <activity
            android:label="@string/pop_movie"
            android:name="com.example.android.popularmovies.ui.home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/AppThemeNoActionBar"
            android:name="com.example.android.popularmovies.ui.detail.DetailActivity" />
        <provider
            android:authorities="@string/content_authority"
            android:name=".data.DataProvider"
            android:exported="false"
            android:syncable="true"/>
    </application>
</manifest>